<%- include('_header'); -%>
<style>
    .form-select {
        max-width: 300px;
    }
    input {
        max-width: 300px;
    }
    textarea {
        max-width: 600px;
        height: 250px;
    }
</style>
<form action="/page/save" class="container" method="post">

        <input name="id" value="<%= id %>" style="display: none">
        <input name="path" value="<%= path %>" style="display: none">
        <input name="layout" value="<%= layout %>" style="display: none">

    <div class="mb-3" id="heading">
        <label for="heading" class="form-label"></label>
        <input type="text" name="heading" class="form-control" aria-describedby="heading" value="<%= heading %>" />
    </div>
    <div id="fotosbox" class="mb-3" style="display: none">
        <label for="fotos" class="form-label">Fotos</label>
        <input type="file" name="multipleFiles" multiple="multiple" />
    </div>
    <div id="textbox" class="mb-3">
        <label for="text" class="form-label"></label>
        <textarea name="text" class="form-control" aria-label="text" ><%= text %></textarea>
    </div>
    <input type="submit" class="btn btn-primary" value="Upload" />
  </form>
    </body>
</html>
<%- include('_footer'); -%>