<%- include('_header'); %>

<main id="content" class="container-fluid">
    <div class="row align-items-start">
        <div class="col">
            <h2><%= title %><%- include('_buttons') -%></h2>
            <p><%- text %></p>
        </div>
        <div class="col"><div class="img-fluid img-placeholder" alt="placeholder image"></div>
    </div>
</main>

<%- include('_footer'); %>