<%- include('_header'); -%>

<div id="content" class="container-fluid">
    <div class="row align-items-start">
        <div class="col">
            <h2><%= title %> <a href="/page/new/<%= id %>"><span class="badge text-bg-primary">edit<span></a></h2>
            <p><%- text %></p>
        </div>
    </div>
</div>

<%- include('_footer'); -%>